<script>
import Vue from 'vue'
import RankingService from '../../services/ranking'
import GamesService from '../../services/games'

export default {
  data() {
    return {
      gameSlug: this.$route.params.slug,
      isLoading: false,
      search: '',
      tournaments: [],
      game: []
    }
  },
  components: {
    // SgTournamentList,
    // SgSpinner
  },
  methods: {
    showLoading() {
      this.isLoading = true
    },
    hideLoading() {
      this.isLoading = false
    },
    loadRanking() {
      this.showLoading()
      RankingService.getRankingByGame(this.gameSlug).then(response => {
        let ranking = response.json()
        Vue.set(this, 'ranking', ranking)
      }, error => {
        window.console.log(error)
      }).finally(() => {
        this.hideLoading()
      })
    },
    loadGame() {
      GamesService.getGameBySlug(this.gameSlug).then(response => {
        let game = response.json()
        Vue.set(this, 'game', game)
      }, error => {
        window.console.log(error)
      })
    }
  },
  ready() {
    this.loadRanking()
    this.loadGame()
  },
  route: {
    canReuse: false
  }
}
</script>

<template>
  <sg-spinner v-show="isLoading"></sg-spinner>
  <header class="header-tournaments" :style="{'background-image': 'url('+game.background_url+')'}">
    <!-- <h1>{{game.name}}</h1> -->
  </header>
  <div class="container">
    <div class="row header-title">
      <div class="col-sm-8">
        <h2>Ranking de <b>{{game.initials}}</b></h2>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Procure um campeonato..." v-model="search">
      </div>
    </div>
    <div class="row"></div>
    <section class="row tournaments">

        <!-- <div class="row"> -->
<!--             <sg-tournament-list class="col-sm-12"
                                v-if="tournaments.length"
                                v-for="tournament in tournaments |
                                       filterBy search in 'name' |
                                       orderBy 'start_time'"
                                :data="tournament"></sg-tournament-list> -->

      <div class="col-sm-12">
        <div class="row prizes">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Pontos</th>
                <th>Time</th>
                <th>Vitória</th>
                <th>Conquistas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2</td>
                <td>11.000</td>
                <td>SGTIME</td>
                <td>19</td>
                <td>5</td>
              </tr>
              <tr>
                <td>3</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>4</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>5</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>6</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>7</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>8</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</template>

<style lang="scss" scoped>
.prizes{
  margin-bottom: 5%;
}
  .header-tournaments {
    background-size: cover;
    background-color: #3c3c3b;
    background-blend-mode: multiply;
    background-position-y: -150px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    h1 {
      display: inline-block;
      font-weight: 600;
      margin: 0;
    }
  }

  .header-title {
    margin-top: 40px;
  }

  h2 {
    margin: 0;
  }

  section.tournaments {
    min-height: 300px;
  }
</style>
