<script>
import SgNavbar from './Navbar.vue'
import SgFooter from './Footer.vue'
import universitiesService from '../services/university'
import gamesService from '../services/games'
import store from '../vuex/store'

export default {
  store,
  components: {
    SgNavbar, SgFooter
  },
  methods: {
    loadUniversities() {
      universitiesService.getAll().then(response => {
        let universities = response.json()
        store.dispatch('RECEIVE_UNIVERSITIES', universities)
      }, error => {
        window.console.log(error)
      })
    },
    loadGames() {
      gamesService.getAll().then(response => {
        let games = response.json()
        store.dispatch('RECEIVE_GAMES', games)
      }, error => {
        window.console.log(error)
      })
    }
  },
  created() {
    this.loadUniversities()
    this.loadGames()
  }
}
</script>

<template>
  <div>
    <sg-navbar></sg-navbar>
    <router-view></router-view>
    <sg-footer></sg-footer>
  </div>
</template>

<style lang='scss'>
@import "../scss/main";

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 80px
}
</style>
