<template>
  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <a href="http://www.teamspeak.com/invite/ts.socialgamers.com.br" target="_blank">Acesse nosso TeamSpeak</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="copyright">
            © {{ Date.now() | moment "YYYY" }} Social Gamers. All Rights Reserved
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="social-links">
            <li><a target="blank" href="https://www.facebook.com/socialgamersbrasil"><i class="fa fa-facebook"></i></a></li>
            <li><a target="blank" href="https://twitter.com/socialgamersbr/"><i class="fa fa-twitter"></i></a></li>
            <li><a target="blank" href="https://www.youtube.com/user/socialgamersbrtv/"><i class="fa fa-youtube"></i></a></li>
            <li><a target="blank" href="https://www.twitch.tv/socialgamerstv"><i class="fa fa-twitch"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang='scss' scoped>
@import '../scss/variables';

footer {
  position: relative;
  width: 100%;
  padding: 50px 0;
  margin-top: 30px;
  background-color: $navbar-default-bg;
  color: #fff;
  z-index: 100;

  .social-links {
    margin: 20px 0 0 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    list-style: none;

    > li {
      display: inline-block;
      margin-right: 15px;

      > a {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 20px;
        line-height: 35px;
        border-radius: 35px;
        text-align: center;
        background-color: #fff;

        i {
          margin: 0;
          color: #3c3c3b;
        }
      }
    }
  }
}
</style>
