<script>
import Vue from 'vue'

export default {
  vuex: {
    getters: {
      games: state => state.games.all
    }
  }
}
</script>

<template>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a v-link="{name: 'home'}" class="navbar-brand"><img src="../assets/logo-white.png"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li v-link-active><a v-link="{name: 'news', activeClass: 'active'}">Notícias</a></li>
          <li v-link-active>
            <a href="#" @click.prevent>Campeonatos</a>
            <div class="dropdown-full dropdown-games">
              <div class="container">
                <div class="col-sm-2" v-if="games" v-for="game in games">
                  <a v-link="{name: 'tournamentsByGame', params: {slug: game.slug}, activeClass: 'active'}"
                     :style="{'background-image': 'url(' + game.box_art_url + ')'}" title="{{game.name}}"></a>
                </div>
              </div>
            </div>
          </li>
          <li v-link-active><a v-link="{name: 'contact', activeClass: 'active'}">Contato</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li v-link-active>
            <a v-link="{name: 'former', activeClass: 'active'}">
              <i aria-hidden="true" class="fa fa-users"></i> Formador de equipes
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
@import "../scss/variables";

.navbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 75px;
}

.navbar-default{
  height:81px;
}

.navbar-brand img {
  max-height: 38px;
  display: inline;
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px 0;
}

.navbar-nav {
  & > li > a {
    font-size: 16px;
    & > i { margin-right: 10px }
  }
  & > li.active > a,
  & > :hover {
    border-bottom: 2px solid #e0bc4f !important
  }
  & > li:hover > .dropdown-full {
    display: block;
  }
}

.dropdown-full {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: -2px;
  padding: 15px 0;
  background-color: $navbar-default-bg-hover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dropdown-games {
  a {
    background-size: cover;
    display: block;
    height: 238px;
    border: 3px solid #20202F;
    transition: all 100ms linear;
    &:hover {
      border-color: #e0bc4f;
    }
  }
}
</style>
