<script>
import { ClipLoader } from 'vue-spinner/dist/vue-spinner'

export default {
  components: {
    ClipLoader
  }
}
</script>

<template>
  <div class="loader-wrapper">
    <clip-loader color="#111" size="50px"></clip-loader>
  </div>
</template>

<style lang="scss" scoped>
  .loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
  }
  .v-spinner {
    position: absolute;
    left: 50%;
    margin-left: -25px;
  }
</style>
