
<template>
  <div class="container">
    <div class="page-header">
      <h3>Entre em contato conosco</h3>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" name="name" id="name" autofocus="autofocus" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="message">Mensagem</label>
          <textarea name="message" id="message" rows="7" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-envelope"></i> Enviar
          </button>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <h4><b>Precisa de ajuda?</b></h4>
        <p>Caso tenha alguma dúvida sobre nossos projetos, parcerias ou patrocínio entre em contato conosco.</p>
        <h4><b>Dados para contato</b></h4>
        <p><b>TeamSpeak:</b> ts.socialgamers.com.br</p>
        <p><b>E-mail:</b> contato@socialgamers.com.br</p>
      </div>
    </div>
  </div>
</template>
