<script>
export default {
  props: ['infinite', 'items', 'autoplay', 'arrows'],
  methods: {
    loadCarousel() {
      const carousel = window.$(this.$els.carousel)
      carousel.slick({
        infinite: this.infinite || true,
        slidesToShow: this.items,
        slidesToScroll: 1,
        autoplay: this.autoplay || true,
        arrows: this.arrows || false
      })
    }
  },
  created() {
    this.loadCarousel()
  }
}
</script>

<template>
  <div v-el:carousel class="carousel">
    <slot></slot>
  </div>
</template>

<style lang="scss">
</style>
