<script>
export default {
  props: ['data']
}
</script>

<template>
  <div class="tournament-list">
    <div class="game-icon pull-left">
      <img :src="data.game.icon_url" width="100%" alt="data.game.name">
    </div>
    <div class="tournament-status pull-left">
      <b v-if="data.start_time < new Date().toISOString()" style="color: #e0bc4f">ENCERRADO</b>
      <b v-else style="color: #27ae60">ABERTO</b>
    </div>
    <div class="tournament-name pull-left" v-text="data.name"></div>

    <a v-link="{ name: 'tournament', params: { id: data._id } }" class="btn btn-join pull-right">Participar</a>
    <div class="tournament-date pull-right" v-text="data.start_time | moment 'DD/MM/YYYY hh:mm A'"></div>
  </div>
</template>

<style lang='scss' scoped>
.tournament-list {
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #eee;
}
.game-icon {
  width: 35px;
  margin: 3px 0;
}
.tournament-status {
  margin: 12px 20px;
}
.tournament-name {
  font-weight: 500;
  margin: 12px 0;
}
.tournament-date {
  margin: 12px 20px;
}
</style>
