<script>
export default {
  props: ['data']
}
</script>

<template>
  <div class="tournament-box">
    <div :style="{'background-image': 'url('+ data.game.image_url +')'}" class="tournament-header">
      <label class="badge text-uppercase">{{ data.start_time | moment "from" "now" }}</label>
    </div>
    <div class="tournament-info">
      <h4><b>{{ data.name }}</b></h4>
      <p><b>Data:</b> {{ data.start_time | moment 'DD/MM/YYYY' }}</p>
      <p><b>Horário:</b> {{ data.start_time | moment 'hh:mm A' }}</p>
      <a v-link="{ name: 'tournament', params: { id: data._id } }" class="btn btn-primary btn-block">Participar</a>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.tournament-box {
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .tournament-header {
    background-size: cover;
    background-position: center;
    min-height: 120px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;

    .badge {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 8px;
      background-color: #e0bc4f;
    }
  }

  .tournament-info {
    padding: 10px;
  }
}
</style>
