<script>
import Vue from 'vue'
import authService from '../../services/auth'
import SgSpinner from '../Spinner.vue'

export default {
  data() {
    return {
      user: {},
      isLoading: false
    }
  },
  components: {
    SgSpinner
  },
  methods: {
    showLoader() {
      this.isLoading = true
    },
    hideLoader() {
      this.isLoading = false
    },
    loadUser() {
      this.showLoader()
      authService.getUserProfile().then(response => {
        let user = response.json()
        Vue.set(this, 'user', user)
      }, error => {
        window.console.log(error)
      }).finally(() => {
        this.hideLoader()
      })
    },
    saveUser() {
      let body = {
        'name': this.user.name,
        'email': this.user.email,
        'gender': this.user.gender,
        'location': this.user.location,
        'avatar': this.user.avatar
      }
      this.showLoader()
      authService.updateUser(this.user._id, body).finally(() => {
        this.hideLoader()
        this.loadUser()
      })
    }
  },
  ready() {
    this.loadUser()
  },
  route: {
    canActivate() {
      return authService.checkAuth()
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="col-sm-8">
      <div class="page-header">
        <h3>Informações do perfil</h3>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control" v-model="user.email">
      </div>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" name="name" class="form-control" v-model="user.name">
      </div>
      <div class="form-group">
        <label for="gender">Gênero</label>
        <div class="checkbox">
          <label class="radio-inline">
            <input type="radio" name="gender" value="male" v-model="user.gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="female" v-model="user.gender"> Female
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="other" v-model="user.gender"> Other
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" name="location" class="form-control" v-model="user.location">
      </div>
      <div class="form-group">
        <button class="btn btn btn-primary">
          <i class="fa fa-pencil"></i> Atualizar perfil
        </button>
      </div>
      <div class="page-header">
        <h3>Trocar senha</h3>
      </div>
      <div class="form-group">
        <label for="password">Senha atual</label>
        <input type="password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Nova senha</label>
        <input type="password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar senha</label>
        <input type="password" name="confirmPassword" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-primary">
          <i class="fa fa-lock"></i> Alterar senha
        </button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="page-header">
        <h3>Avatar</h3>
      </div>
      <div class="form-group">
        <div class="avatar-container">
          <sg-spinner v-show="isLoading"></sg-spinner>
          <img src="http://cdn.anilist.co/img/dir/user/reg/47154-AugY3oeuIBPh.png" width="200" height="200" class="img-thumbnail" />
          <div class="avatar-upload">
            <i class="fa fa-camera icon"></i>
            <span class="text">Troque seu avatar</span>
            <input type="file">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
  .page-header {
    margin-top: 42px;
    margin-bottom: 0;
  }
  .avatar-container {
    position: relative;
    width: 200px;
    height: 198px;

    &:hover .avatar-upload {
      background-color: rgba(0, 0, 0, 0.45);
      height: 60px;
      .icon {
        margin: 22px 0;
      }
      .text {
        opacity: 1;
        margin: 21px 9px 0;
      }
      input[type=file] {
        height: 60px;
      }
    }
  }
  .avatar-upload {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: 40px;
    padding: 0 15px;
    overflow: hidden;
    transition: all 100ms linear;

    .icon {
      text-shadow: 1px 1px 6px #000000;
      color: #fff;
      font-size: 20px;
      margin: 10px 0;
      transition: all 100ms linear;
    }

    .text {
      opacity: 0;
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      float: right;
      margin: 9px 9px 0;
      transition: all 100ms linear;
    }

    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      font-size: 1000px;
      height: 40px;
      cursor: pointer;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.75) !important;
    }
  }
</style>
