<script>
import Vue from 'vue'
import SgPlayerModal from './PlayerModal.vue'
import SgTeamModal from './TeamModal.vue'
import SgSpinner from '../Spinner.vue'
import offersService from '../../services/offers'

export default {
  vuex: {
    getters: {
      games: state => state.games.all,
      universities: state => state.universities.all
    }
  },
  data() {
    return {
      isLoading: false,
      showPlayerModal: false,
      showTeamModal: false,
      formInvalid: false,
      offers: []
    }
  },
  components: {
    SgPlayerModal,
    SgTeamModal,
    SgSpinner
  },
  methods: {
    loadOffers() {
      this.isLoading = true
      offersService.getAll().then(response => {
        let offers = response.json()
        Vue.set(this, 'offers', offers)
      }, error => {
        window.console.log(error)
      }).finally(() => {
        this.isLoading = false
      })
    }
  },
  created() {
    this.loadOffers()
  }
}
</script>

<template>
  <header class="header-titled" style="background-image: url(https://d27xc47jbjscci.cloudfront.net/header_background.jpg)">
    <h1>Formador de equipes</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h4>Você é um jogador e está a procura de uma equipe para participar de campeonatos? Cadastre-se agora!</h4>
        <button class="btn btn-join" @click="showPlayerModal = true">Procuro um time</button>
      </div>
      <div class="col-sm-6 text-center">
        <h4>Sua equipe está precisando de jogadores? Cadastre a vaga que sua equipe necessita para que os jogadores</h4>
        <button class="btn btn-join" @click="showTeamModal = true">Procuro um jogador</button>
      </div>
      <div class="col-sm-12 former-container">
        <div class="row filters">
          <div class="col-sm-4 form-group">
            <input type="text" class="form-control" placeholder="Está procurando uma vaga?" v-model="searchByText">
          </div>
          <div class="col-sm-2 form-group">
            <select class="form-control" v-model="searchByType">
              <option :value="null">Procurar por</option>
              <option value="team">Equipes</option>
              <option value="player">Jogadores</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control" v-model="searchByGame">
              <option :value="null">Filtrar por jogos</option>
              <option v-for="game in games" :value="game.slug">{{game.name}}</option>
            </select>
          </div>
          <div class="col-sm-3 form-group">
            <select class="form-control" v-model="searchByUniversity">
              <option :value="null">Filtrar por universidade</option>
              <option v-for="university in universities" :value="university.initials">{{university.initials}} - {{university.name}}</option>
            </select>
          </div>
          <div class="col-sm-3 form-group" v-if="searchByGame === 'league-of-legends'">
            <select class="form-control">
              <option value="">Filtrar por posição</option>
            </select>
          </div>
        </div>
        <div class="row">
          <sg-spinner v-show="isLoading"></sg-spinner>
          <div class="col-sm-3" v-for="offer in offers
                                       | filterBy searchByType in 'type'
                                       | filterBy searchByGame in 'game'
                                       | filterBy searchByUniversity in 'university'
                                       | filterBy searchByText">
            <div class="advertisement">
              <div class="game-icon">
                <img :src="offer.game.icon_url" width="100%" :alt="offer.game.name">
              </div>
              <div class="offer-infos">
                <div v-if="offer.type === 'player'" class="team-name" v-text="offer.name"></div>
                <div class="team-name" v-text="offer.team_name"></div>
                <div v-if="offer.nickname" class="nickname">In-game: <b>{{offer.nickname}}</b></div>
                <div v-if="offer.university" class="university-name" v-text="offer.university.initials"></div>
                <div v-if="offer.position" class="find-by">Posição: <b>{{offer.position}}</b></div>
                <div class="social-links">
                  <a href="mailto:{{offer.email}}">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </a>
                  <a :href="offer.socials.facebook" v-if="offer.socials.facebook">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                  <a :href="offer.socials.twitter" v-if="offer.socials.twitter">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <a href="mailto:{{offer.email}}" v-if="offer.type === 'player'" class="btn btn-join btn-block">Entrar em contato</a>
              <a href="#" v-if="offer.type === 'team'" class="btn btn-join btn-block">Aplicar</a>
            </div>
          </div>
          <div v-if="!offers.length" class="col-sm-12 empty text-center">Nenhum resultado encontrado</div>
        </div>
      </div>
    </div>
  </div>
  <sg-player-modal :show.sync="showPlayerModal"></sg-player-modal>
  <sg-team-modal :show.sync="showTeamModal"></sg-team-modal>
</template>

<style lang="scss" scoped>
.btn-new {
  margin-bottom: 15px;
}

.former-container {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);

  .empty {
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 85px;
  }

  .filters {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.advertisement {
  position: relative;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #eee;

  .nickname, .university-name, .social-links {
    margin: 5px 0;
  }

  .game-icon {
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .team-name {
    font-size: 16px;
    font-weight: 500;
  }

  .university-name {
    font-style: italic;
  }

  .social-links > a {
    text-decoration: none;
    > i {
      font-size: 20px;
      color: rgba(44, 62, 80, 0.7);
      display: inline-block;
      margin-right: 5px;
    }
  }

  .offer-infos {
    min-height: 100px;
  }

  .btn-join {
    margin-top: 10px;
    padding: 7px 0;
  }
}
</style>
