<script>
import Vue from 'vue'
import { modal } from 'vue-strap'
import offersService from '../../services/offers'

export default {
  vuex: {
    getters: {
      games: state => state.games.all,
      universities: state => state.universities.all
    }
  },
  props: ['show'],
  data() {
    return {
      offer: {},
      formInvalid: false
    }
  },
  components: {
    SgModal: modal
  },
  methods: {
    saveOffer() {
      this.offer.type = 'team'
      offersService.save(this.offer).then(response => {
        this.offer = {}
        this.show = false
      }, error => {
        window.console.log(response)
      }).finally(() => {
        this.$parent.loadOffers()
      })
    }
  }
}
</script>

<template>
<sg-modal :show.sync="show" effect="fade" width="400" backdrop="false">
  <div slot="modal-header" class="modal-header">
    <h4 class="modal-title">Dados sobre a vaga da equipe</h4>
  </div>
  <div slot="modal-body" class="modal-body">
    <validator name="offer">
      <div class="form-group">
        <label for="name">Nome para contato</label>
        <input type="text"
               name="name"
               class="form-control"
               placeholder="Nome para contato"
               v-model="offer.name">
      </div>
      <div class="form-group">
        <label for="name">E-mail para contato</label>
        <input type="email"
               name="email"
               class="form-control"
               placeholder="E-mail para contato"
               v-model="offer.email">
      </div>
      <div class="form-group">
        <label for="name">Nome da equipe</label>
        <input type="text"
               name="team_name"
               class="form-control"
               placeholder="Nome da equipe"
               v-model="offer.team_name">
      </div>
      <div class="form-group">
        <label for="name">Facebook</label>
        <input type="url"
               name="facebook"
               class="form-control"
               placeholder="Url da página no Facebook"
               v-model="offer.socials.facebook">
      </div>
      <div class="form-group">
        <label for="name">Twitter</label>
        <input type="url"
               name="facebook"
               class="form-control"
               placeholder="Url do perfil no Twitter"
               v-model="offer.socials.twitter">
      </div>
      <div class="form-group">
        <label for="game">Selecione um jogo</label>
        <select name="game" class="form-control" v-model="offer.game">
          <option :value="null">Selecione um jogo</option>
          <option v-for="game in games" :value="game">{{game.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="university_id">Universidade da sua equipe</label>
        <select name="university_id" class="form-control" v-model="offer.university">
          <option :value="null">Selecione uma universidade</option>
          <option v-for="university in universities" :value="university">{{university.name}}</option>
        </select>
      </div>
      <div class="form-group" v-if="offer.game && offer.game.slug === 'league-of-legends'">
        <label for="game">Selecione a posição desejada</label>
        <select class="form-control" v-model="offer.position">
          <option :value="null">Selecione uma posição</option>
          <option value="Top laner">Top laner</option>
          <option value="Jungler">Jungler</option>
          <option value="Mid laner">Mid laner</option>
          <option value="AD Carry">AD Carry</option>
          <option value="Support">Support</option>
        </select>
      </div>
    </validator>
  </div>
  <div slot="modal-footer" class="modal-footer">
    <button type="button" class="btn btn-default" @click="show = false">Cancelar</button>
    <button type="button" class="btn btn-primary" @click="saveOffer()">Cadastrar</button>
  </div>
</sg-modal>
</template>
