
<template>
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Resetar senha</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <p>Entre com seu e-amil abaixo, iremos lhe enviar as instruções para recuperar sua senha</p>
        <label for="email" class="control-label">E-mail</label>
        <input type="email" name="email" id="email" placeholder="E-mail" autofocus="autofocus" required="required" class="form-control"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-key"></i>Resetar senha</button>
      </div>
    </div>
  </div>
</template>
