<script>
import notificationService from '../../services/notification'
import authService from '../../services/auth'

export default {
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    onSubmit() {
      let credentials = {
        username: this.email,
        password: this.password
      }
      authService.login(credentials)
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Bem-vindo, faça seu login</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" v-model="email" placeholder="E-mail" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" v-model="password" placeholder="Senha" class="form-control"/>
      </div>
      <div class="form-group"><a v-link="{ name: 'forgot' }" class="btn-link">Esqueceu sua senha?</a></div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" @click="onSubmit()">
          <i class="fa fa-user"></i> Entrar
        </button>
      </div>
      <div class="form-group"><a v-link="{ name: 'signup'}" class="btn-link">Não possui conta?</a></div>
    </div>
  </div>
</template>
