
<template>
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Criar nova senha</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="form-group">
        <label for="password">Nova senha</label>
        <input type="password" name="password" placeholder="Nova senha" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="confirm">Confirmar senha</label>
        <input type="password" name="password_confirm" placeholder="Confirmar senha" class="form-control"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-keyboard-o"></i>Alterar senha</button>
      </div>
    </div>
  </div>
</template>
