<script>
import Vue from 'vue'
import Dropzone from '../common/Dropzone'
import { API_REGISTER_URL, API_S3_UPLOAD_URL } from '../../router/paths'

export default {
  data() {
    return {
      user: {},
      formInvalid: false,
      uploadUrl: API_S3_UPLOAD_URL
    }
  },
  validators: {
    email(val) {
      return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(val)
    },
    url(val) {
      return /^(http\:\/\/|https\:\/\/)(.{4,})$/.test(val)
    }
  },
  components: {
    SgDropzone: Dropzone
  },
  methods: {
    onSignup() {
      this.$http.post(API_REGISTER_URL, this.user).then(response => {
        Vue.set(this, 'user', {})
      }, error => {
        console.log(error)
      })
    },
    onSubmit() {
      if (this.$validation.invalid) {
        this.formInvalid = true
      } else {
        this.formInvalid = false
        this.onSignup()
      }
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Criar uma conta</h3>
    </div>
    <validator name="validation">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group has-feedback" :class="{'has-error': $validation.name.invalid && formInvalid}">
          <label for="name">Nome completo</label>
          <input type="text"
                 name="name"
                 class="form-control"
                 placeholder="Nome completo"
                 v-model="user.name"
                 v-validate:name="['required']">
          <i class="form-control-feedback glyphicon glyphicon-remove"
             v-if="$validation.name.invalid && formInvalid"></i>
          <p v-show="$validation.name.required && formInvalid" class="help-block has-error">Nome completo é obrigatório</p>
        </div>
        <div class="form-group has-feedback" :class="{'has-error': $validation.email.invalid && formInvalid}">
          <label for="email">E-mail</label>
          <input type="email"
                 name="email"
                 class="form-control"
                 placeholder="E-mail"
                 v-model="user.email"
                 v-validate:email="{ required: true, email: true}">
          <i class="form-control-feedback glyphicon glyphicon-remove"
            v-if="$validation.email.invalid && formInvalid"></i>
          <p v-show="$validation.email.required && formInvalid" class="help-block has-error">E-mail é obrigatório</p>
          <p class="help-block has-error" v-if="$validation.email.email && $validation.email.modified">E-mail invalido</p>
        </div>
        <div class="form-group has-feedback" :class="{'has-error': $validation.username.invalid && formInvalid}">
          <label for="username">Usuário</label>
          <input type="text"
                 name="username"
                 class="form-control"
                 placeholder="Usuário"
                 v-model="user.username"
                 v-validate:username="['required']">
          <i class="form-control-feedback glyphicon glyphicon-remove"
           v-if="$validation.username.invalid && formInvalid"></i>
         <p v-show="$validation.username.required && formInvalid" class="help-block has-error">Usuário é obrigatório</p>
        </div>
        <div class="form-group has-feedback" :class="{'has-error': $validation.academic_record.invalid && formInvalid}">
          <label for="academic_record">Registro acadêmico</label>
          <input type="text"
                 name="academic_record"
                 class="form-control"
                 placeholder="Registro acadêmico"
                 v-model="user.academic_record"
                 v-validate:academic_record="['required']">
          <i class="form-control-feedback glyphicon glyphicon-remove"
           v-if="$validation.academic_record.invalid && formInvalid"></i>
         <p v-show="$validation.academic_record.required && formInvalid" class="help-block has-error">Registro acadêmico é obrigatório</p>
        </div>
        <div class="form-group has-feedback" :class="{'has-error': $validation.student_id.invalid && formInvalid}">
          <label for="student_id">Foto da carteira de estudante</label>
          <!-- <sg-dropzone id="dropzone" method="post" :url="uploadUrl"></sg-dropzone> -->
          <input type="url"
                 id="student_id"
                 name="student_id"
                 class="form-control"
                 placeholder="http://imgur.com"
                 v-validate:student_id="{required: true, url: true}">
          <i class="form-control-feedback glyphicon glyphicon-remove"
           v-if="$validation.student_id.invalid && formInvalid"></i>
         <p v-show="$validation.student_id.required && formInvalid" class="help-block has-error">Carteira de estudante é obrigatório</p>
         <p class="help-block has-error" v-if="$validation.student_id.url && $validation.student_id.modified">URL da imagem inválida</p>
        </div>
        <div class="form-group has-feedback" :class="{'has-error': $validation.password.invalid && formInvalid}">
          <label for="password">Senha</label>
          <input type="password"
                 name="password"
                 class="form-control"
                 placeholder="Senha"
                 v-model="user.password"
                 v-validate:password="{required: true, minlength: 8}">
          <i class="form-control-feedback glyphicon glyphicon-remove"
           v-if="$validation.password.invalid && formInvalid"></i>
         <p v-show="$validation.password.minlength && formInvalid" class="help-block has-error">Senha deve conter no minímo 8 caracteres</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" @click.prevent="onSubmit()">
            <i class="fa fa-user-plus"></i> Criar conta
          </button>
        </div>
        <div class="form-group"><a class="btn-link" v-link="{ name: 'login'}">Já possui conta?</a></div>
      </div>
    </validator>
  </div>
</template>
