<script>
import Vue from 'vue'
import { tabset, tab } from 'vue-strap'
import SgSpinner from '../Spinner.vue'
import tournamentsService from '../../services/tournaments'

export default {
  data() {
    return {
      isLoading: false,
      tournament: []
    }
  },
  components: {
    SgSpinner,
    BsTabs: tabset,
    BsTab: tab
  },
  methods: {
    showLoading() {
      this.isLoading = true
    },
    hideLoading() {
      this.isLoading = false
    },
    loadTournament() {
      let id = this.$route.params.id;
      this.showLoading()
      tournamentsService.getTournament(id).then(response => {
        let tournament = response.json()
        Vue.set(this, 'tournament', tournament)
      }, error => {
        console.log(error)
      }).finally(() => {
        this.hideLoading()
      })
    }
  },
  created() {
    this.loadTournament()
  }
}
</script>

<template>
  <sg-spinner v-show="isLoading"></sg-spinner>
  <header class="tournament-header" :style="{'background-image': 'url('+ tournament.game.background_url +')'}">
    <div class="container">
      <div class="row row-flex">
        <div class="col-sm-3 tournament-logo">
          <img :src="tournament.logo_url" alt="{{tournament.name}}" style="max-width: 100%">
        </div>
        <div class="col-sm-5">
          <a href="#" v-if="tournament.game" class="tournament-game">{{tournament.game.name}}</a>
          <h3 class="tournament-name">{{tournament.name}}</h3>
          <ul class="tournament-infos">
            <li><strong>Data:</strong> {{tournament.start_time | moment "dddd, DD MMMM YYYY"}}</li>
            <li><strong>Horario:</strong> {{tournament.start_time | moment "HH:mm a"}}</li>
            <li><strong>Check-in encerra</strong> {{tournament.check_start | moment "from" "now"}}</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="tournament-join-box" :class="{'registration-close': !tournament.registration_enabled}">
            <div v-if="tournament.registration_enabled">
              <h4>Inscreva-se</h4>
              <a href="{{tournament.link_battlefy}}" class="btn btn-join">Battlefy</a>
              <a href="{{tournament.link_riot}}" class="btn btn-join">Riot</a>
            </div>
            <div v-else>
              <h4>Inscrições encerradas</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="tournament-cta">
    <div class="container">
      <div class="col-sm-4">
        <span class="icon">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
        </span>
        <div class="block">
          <h3>Premiações</h3>
          <p>{{tournament.prizes}}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="icon">
          <i class="fa fa-twitch" aria-hidden="true"></i>
        </span>
        <div class="block">
          <h3>Transmição na Twitch</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <span class="icon">
          <i class="fa fa-tags" aria-hidden="true"></i>
        </span>
        <div class="block">
          <h3 v-if="tournament.price === 0">Grátis para participar</h3>
          <h3 v-else>Campeonato pago</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <bs-tabs>
          <bs-tab header="Detalhes">
            <div v-html="tournament.description"></div>
          </bs-tab>
          <bs-tab header="Tabela">
            <div v-html="tournament.table_game"></div>
          </bs-tab>
          <bs-tab header="Equipes">
            <div v-html="tournament.teams_game"></div>
          </bs-tab>
          <bs-tab header="Regras">
            <div v-html="tournament.rules"></div>
          </bs-tab>
          <bs-tab header="Suporte">
            <div></div>
          </bs-tab>
        </bs-tabs>
      </div>
      <div class="col-sm-3">
        <h4>Ads</h4>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.tournament-header {
  background-color: #3c3c3b;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 350px;
  display: flex;
  align-items: center;
}

.tournament-cta {
  background-color: #3c3c3b;
  display: flex;
  padding: 25px 0;
  margin-bottom: 25px;

  .icon {
    width: 10%;
    color: #ccc;
    font-size: 22px;
    float: left;
  }
  .block {
    width: 85%;
    float: right;
  }
  h3 {
    margin: 0 0 10px;
    color: #ccc;
    font-weight: 300;
    font-size: 20px;
  }
  p {
    color: #aaa
  }
}

.tournament-game {
  color: #e0bc4f;
  font-weight: 500;
  font-size: 17px;
}

.tournament-name {
  margin-top: 15px;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}

.tournament-infos {
  list-style: none;
  padding: 0;
  color: #fff;
  font-size: 16px;
  opacity: 0.7
}

.tournament-join-box {
  width: 100%;
  min-height: 130px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: rgba(60, 60, 59, 0.7);

  h4 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .btn {
    margin-left: 15px;
    &:first-child {
      margin-left: 0
    }
  }

  &.registration-close {
    display: flex;
    align-items: center;
    text-align: center;
    div {
      width: 100%;
    }
    h4 {
      margin-bottom: 0;
    }
  }
}

.btn-join {
  font-size: 16px;
  padding-top: 10px 16px;
  width: 140px;
}
</style>
