<script>
import Vue from 'vue'
import SgTournamentList from '../common/TournamentList.vue'
import SgSpinner from '../Spinner.vue'
import TournamentsService from '../../services/tournaments'
import GamesService from '../../services/games'

export default {
  data() {
    return {
      gameSlug: this.$route.params.slug,
      isLoading: false,
      search: '',
      tournaments: [],
      game: []
    }
  },
  components: {
    SgTournamentList,
    SgSpinner
  },
  methods: {
    showLoading() {
      this.isLoading = true
    },
    hideLoading() {
      this.isLoading = false
    },
    loadTournaments() {
      this.showLoading()
      TournamentsService.getTournamentsByGame(this.gameSlug).then(response => {
        let tournaments = response.json()
        Vue.set(this, 'tournaments', tournaments)
      }, error => {
        window.console.log(error)
      }).finally(() => {
        this.hideLoading()
      })
    },
    loadGame() {
      GamesService.getGameBySlug(this.gameSlug).then(response => {
        let game = response.json()
        Vue.set(this, 'game', game)
      }, error => {
        window.console.log(error)
      })
    }
  },
  ready() {
    this.loadTournaments()
    this.loadGame()
  },
  route: {
    canReuse: false
  }
}
</script>

<template>
  <sg-spinner v-show="isLoading"></sg-spinner>
  <header class="header-tournaments" :style="{'background-image': 'url('+game.background_url+')'}">
    <h1>{{game.name}}</h1>
  </header>
  <div class="container">
    <div class="row header-title">
      <div class="col-sm-9">
        <h2>Campeonatos de <b>{{game.initials}}</b></h2>
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" placeholder="Procure um campeonato..." v-model="search">
      </div>
    </div>
    <div class="row"><hr></div>
    <section class="row tournaments">
      <div class="col-sm-9">
        <div class="row">
            <sg-tournament-list class="col-sm-12"
                                v-if="tournaments.length"
                                v-for="tournament in tournaments |
                                       filterBy search in 'name' |
                                       orderBy 'create_at' -1"
                                :data="tournament"></sg-tournament-list>

            <div v-if="!tournaments.length" class="no-results">
              Nenhum campeonato encontrado.
            </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>Como participar?</h4>
        <ul>
          <li><a href="#">Escolha um torneio</a></li>
          <li><a href="#">Clique em participar</a></li>
          <li><a href="#">Inscreva sua equipe na Battlefy</a></li>
          <li><a href="#">Inscreva sua equipe na Riot Games</a></li>
        </ul>
      </div>
    </section>

    <section class="row">
      <div class="col-sm-12">
        <div class="row prizes">
          <h1> Conheça nossa premiação </h1>
          <h4 style="text-align: left">Todo final de mês, os melhores colocados no Ranking Social Gamers garantem produtos incríveis da linha Gamer Multilaser, além de uma premiação única disponibilizada pela Riot Games.</h4>
          <div class="prize-carrousel" >
            <img src="/static/prizes/fone_multilaser01.jpg">
            <img src="/static/prizes/mouse_multilaser01.jpg">
            <img src="/static/prizes/teclado_multilaser01.jpg">
            <img src="/static/prizes/fone_multilaser02.jpg">
            <img src="/static/prizes/mouse_multilaser02.jpg">
            <img src="/static/prizes/teclado_multilaser02.jpg">
            <img src="/static/prizes/fone_multilaser03.jpg">
            <img src="/static/prizes/som_multilaser01.jpg">
          </div>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col-sm-8">
        <div class="row prizes">
          <h1> Ranking SocialGamers </h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Pontos</th>
                <th>Time</th>
                <th>Vitória</th>
                <th>Conquistas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2</td>
                <td>11.000</td>
                <td>SGTIME</td>
                <td>19</td>
                <td>5</td>
              </tr>
              <tr>
                <td>3</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>4</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>5</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>6</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>7</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
              <tr>
                <td>8</td>
                <td>12.000</td>
                <td>SGTIME</td>
                <td>10</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class='redes'>

        <a target="blank" href="https://www.facebook.com/socialgamersbrasil">
          <img src="/static/redes/facebook.png">
        </a>
        <a target="blank" href="https://www.youtube.com/user/socialgamersbrtv/">
          <img src="/static/redes/youtube.png">
        </a>
        <a target="blank" href="https://www.twitch.tv/socialgamerstv">
          <img src="/static/redes/twitch.png">
        </a>
        <a href="http://www.teamspeak.com/invite/ts.socialgamers.com.br" target="_blank">
          <img src="/static/redes/ts.png">
        </a>
      </div>
    </section>

  </div>
</template>

<style lang="scss" scoped>
.prizes{
  margin-bottom: 5%;
}
  .header-tournaments {
    background-size: cover;
    background-color: #3c3c3b;
    background-blend-mode: multiply;
    background-position-y: -150px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    h1 {
      display: inline-block;
      font-weight: 600;
      margin: 0;
    }
  }

  .header-title {
    margin-top: 40px;
  }

  h2 {
    margin: 0;
  }

  section.tournaments {
    min-height: 300px;
  }
</style>
