@import './variables';
@import './flatly/variables';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './flatly/flatly';

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

@import './social-buttons';

// Scaffolding
.btn > i:first-child {
  margin-right: 10px
}

.row-flex {
  display: flex;
  align-items: center;
}

.nav-tabs {
  background-color: #e8e8e8;
  border-bottom-color: #e8e8e8;
}

.nav-tabs > li > a {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #ddd;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  border-bottom: 2px solid #ccab47;
  background-color: #ddd;
}

.btn-join {
  background: #e0bc4f;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid #ccab47;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    background-color: #ccab47;
  }
}

.header-titled {
  background-color: #3c3c3b;
  background-blend-mode: multiply;
  background-size: cover;
  background-position-y: -150px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 30px;
  h1 {
    display: inline-block;
    font-weight: 600;
    margin: 0;
  }
}
