$navbar-height: 80px;
$navbar-default-bg: #20202F;
$navbar-default-bg-hover: #151b27;
$navbar-default-link-active-bg: #151b27;
$navbar-default-link-color: #cdcdcd;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;
$link-color: #3c3c3b;
