<script>
import Vue from 'vue'
import { API_BLOG_POST } from '../../router/paths'

export default {
  data() {
    return {
      post: []
    }
  },
  methods: {
    loadPost() {
    }
  }
}
</script>

<template>
  <div class="container">
    <h1></h1>
  </div>
</template>

<style lang="scss">
</style>
