<script>
import Vue from 'vue'
import { API_BLOG_POSTS } from '../../router/paths'
import SgSpinner from '../Spinner.vue'

export default {
  data() {
    return {
      isLoading: false,
      list: []
    }
  },
  components: {
    SgSpinner
  },
  methods: {
    showLoader() {
      this.isLoading = true
    },
    hideLoader() {
      this.isLoading = false
    },
    loadPosts() {
      this.showLoader()
      this.$http.get(API_BLOG_POSTS).then(response => {
        let posts = response.json()
        Vue.set(this, 'list', posts)
      }, error => {
        window.console.log(error)
      }).finally(() => {
        this.hideLoader()
      })
    }
  },
  filters: {
    truncate: function(string, value) {
      return string.substring(0, value) + '...';
    }
  },
  created() {
    this.loadPosts()
  }
}
</script>

<template>
  <header class="header-titled" style="background-image: url(https://s3.amazonaws.com/socialgamers/header_background.jpg)">
    <h1>Notícias</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <sg-spinner v-show="isLoading"></sg-spinner>
        <div class="row post" v-for="post in list.posts | orderBy 'date'">
          <div class="col-sm-12">
            <picture>
              <img :src="post.thumbnail_images.medium_large.url" alt="{{post.title}}">
            </picture>
            <p v-html="post.content | truncate '800'"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</template>

<style lang="scss">
.post {
  p > h2 {
    text-align: left !important;
    span {
      color: #e0bc4f !important;
    }
  }
  p > h4 {
    span {
      font-size: 16px !important;
      color: #3c3c3b !important;
    }
  }
}
</style>
