<script>
import { API_GAMES_URL } from '../../router/paths'

export default {
  data() {
    return {
      games: []
    }
  },
  methods: {
    loadGames() {
      this.$http.get(API_GAMES_URL).then(response => {
        this.games = response.json()
      }, error => {
        console.log(error)
      })
    }
  },
  created() {
    this.loadGames()
  }
}
</script>

<template>
  <h2>Campeonatos <small>por jogos</small></h2>
  <hr/>
  <div class="row">
    <div v-for="game in games" class="col-sm-3 text-center game-box">
      <a href="#" :style="{'background-image': 'url(' + game.box_art_url + ')'}">
        {{game.name}}
      </a>
    </div>
  </div>
</template>

<style lang="scss">
.game-box {
  a {
    display: block;
    max-width: 100%;
    height: 370px;
    border: 4px solid #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    text-indent: -99999px;

    &:hover {
      border: 4px solid #e0bc4f;
    }
  }
}
</style>
