<script>
import Vue from 'vue'
import SgTournamentBox from '../common/TournamentBox.vue'
import SgSpinner from '../Spinner.vue'
import SgSlider from './Slider.vue'
import SgGames from './Games.vue'
import tournamentsService from '../../services/tournaments'

export default {
  data() {
    return {
      isLoading: false,
      tournaments: []
    }
  },
  components: {
    SgSlider,
    SgTournamentBox,
    SgGames,
    SgSpinner
  },
  methods: {
    showLoading() {
      this.isLoading = true
    },
    hideLoading() {
      this.isLoading = false
    },
    loadTournaments() {
      this.showLoading()
      tournamentsService.getTournaments().then(response => {
        let tournaments = response.json()
        Vue.set(this, 'tournaments', tournaments)
      }, error => {
        console.log(error)
      }).finally(() => {
        this.hideLoading()
      })
    }
  },
  created() {
    this.loadTournaments()
  }
}
</script>

<template>

  <sg-slider></sg-slider>
  <div class="container">

    <div class="call">
      <h2>Deixe seus jogos favoritos <span class="yellow">mais emocionante</span> e muito mais competitvo!</h2>
    </div>

    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 box-steps text-center">
        <img src="../../assets/join_tournament_circle.png" alt="">
        <p>Participe de campeonatos semanais e concorra a prêmios incriveis! Domine seus oponentes e trace seu caminho para o topo.</p>
      </div>
      <div class="col-sm-3 col-sm-offset-1 box-steps text-center">
        <img src="../../assets/versus_circle.png" alt="">
        <p>Monte seu time e participe de campeonatos toda semana. Mostre a todos que você joga sério e não tem medo do desafio.</p>
      </div>
      <div class="col-sm-3 col-sm-offset-1 box-steps text-center">
        <img src="../../assets/trophy_circle.png" alt="">
        <p>Seja recompensado por suas vitórias e e conquistas em nossos eventos! Suba no ranking e ganhe prêmios.</p>
      </div>
</div>
  <h2 class="sub-title">Próximos <strong>campeonatos</strong></h2>
  <hr/>
  <div class="row">
    <div class="col-sm-12">
      <section class="row tournaments">
        <sg-spinner v-show="isLoading"></sg-spinner>
        <div class="col-xs-12 col-sm-3" v-if="tournaments.length" v-for="tournament in tournaments | orderBy 'start_time' | limitBy 8">
          <sg-tournament-box :data="tournament"></sg-tournament-box>
        </div>
      </section>
    </div>
  </div>
</div>

<section class="twitch-embed">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Acompanhe a Social GamersTV <br>
          <small>Fique por dentro das novidades de nossos eventos</small></h2>
        <iframe src="http://www.twitch.tv/socialgamerstv/embed" scrolling="no" frameborder="0" height="378" width="620"></iframe>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row prizes">
    <h1> Premiações incríveis da linha Gamer Multilaser </h1>
    <div class="prize-carrousel" >
      <img src="/static/prizes/fone_multilaser01.jpg">
      <img src="/static/prizes/mouse_multilaser01.jpg">
      <img src="/static/prizes/teclado_multilaser01.jpg">
      <img src="/static/prizes/fone_multilaser02.jpg">
      <img src="/static/prizes/mouse_multilaser02.jpg">
      <img src="/static/prizes/teclado_multilaser02.jpg">
      <img src="/static/prizes/fone_multilaser03.jpg">
      <img src="/static/prizes/som_multilaser01.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="row sponsors">
    <div class="call">
    <h2> Não somos os únicos <span class="yellow">animados</span> com o projeto da Social Gamers!</h2>
    <h4> Conheça os nossos patrocinadores </h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.lojamultilaser.com.br/" target="blank"><img src="/static/partners/multilaser.png"/></a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="http://www.nuuvem.com/" target="blank"><img src="/static/partners/nuuvem.png"/></a>
    </div>
  </div>
</div>
<div class="bg_footer"></div>
</template>

<style lang='scss'>
.call {
  text-align: center;
  margin-bottom: 5%;
  .yellow {
    background-color: #e0bc4f;
    padding: 0.5%;
    color:#fff;
  }
}

.prizes{
  text-align: center;
  h1 {
    margin-bottom: 3%;
  }
  .prize-carrousel{
    img {
      width: 20%;
    }
  }
}
  .sponsors {
    margin: 5%;
    text-align: center;
    h1 {
      margin-bottom: 5%;
    }
  }

  .twitch-embed {
    background-color: #20202F;
    h2 {
      color: #fff;
      text-align:center;
      font-size: 32px;
      font-weight: 300;
    }
    iframe {
      width: 620px;
      margin: 5% auto;
      display: block;
    }
  }

  .bg_footer {
    background-image: url("/static/map-top.png");
    width:100%;
    height:195px;
    background-position-x: 75%;
    background-size: cover;
  }

  #slider {
    margin-bottom: 15px;
  }

  .sub-title {
    border-left: 5px solid #e0bc4f;
    padding-left: 15px;
  }

  .main-title {
    font-weight: 300;
    line-height: 46px;
    margin-bottom: 60px;
    border-left: 0;
    padding-left: 0;

    strong {
      background-color: #e0bc4f;
      color: #fff;
      min-height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      display: inline-block;
    }
  }

  .box-steps {
    img { margin-bottom: 15px }
    p {
      font-size: 16px;
    }
  }

  .tournaments {
    position: relative;
  }
</style>
