<template>
  <div id="slider">
    <h1 class='header-title'>
      <span class="yellow">Social</span> Gamers
    </h1>
    <video autoplay loop muted id="video-bg" poster="/static/bg-video.jpg">
      <source src="/static/video/background.webm" type="video/webm">
      <source src="/static/video/background.ogg" type="video/ogg">
    </video>
    <div class="pattern"></div>
  </div>
</template>

<style lang='scss' scoped>
#slider {
  margin-bottom: 2%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color:#fff;
  font-size: 90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  .yellow {
    color:  #E0BC4F;
  }
}

.pattern {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image:url(/static/gridtile_3x3.png);
  background-repeat: repeat;
  background-attachment:scroll;
}

#video-bg {
  width: 100%;
  position: absolute;
  top: -100px;
}
</style>
